body {
  background-color: #e5e5e5;
  padding: 40px;
  font-family: "Montserrat", sans-serif;
  color: #161d2a;
}
.wrapper {
  display: flex;
  flex-direction: row-reverse;
  background-color: #ffffff;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.main-content {
  padding: 88px;
}
.main-content-title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: 000000;
  margin: 0 0 8px 0;
}

main h2 {
  font-size: 20px;
}

.my-profession {
  font-style: narmal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 0 0 18px 0;
}
.my-name {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  color: #000000;
  margin: 0 0 28px 0;
}
.my-description {
  font-style: normal;
  font-weight: 400px;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.about-me-container {
  margin-bottom: 64px;
}

/* projects */
.projects-container {
  margin-bottom: 48px;
}
.project-item {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}
.project-item-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  color: #005fff;
}
.project-item-link:hover{
  text-decoration: underline;

}
.project-list {
  padding: 0 0 0 15px;
  margin: 0;
}
.project-item-descr {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
/* work experience */
.work-experience-container {
  margin-bottom: 44px;
}
.degree,
.work-experience-position {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin: 0;
}
.education-place,
.work-experience-company {
  color: #6d9bf5;
  margin: 20px 0 0 0;
  font-size: 16px;
}
.education-period,
.work-period {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #ababab;
  margin: 12px 0 8px 0;
}
.work-duties {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;

}
.work-duties-list {
  padding: 0 0 0 14px;
  margin: 0 0 20px 0;
}

/* sidebar */
.sidebar {
  max-width: 370px;
  background-color: #f0ebfe;
  padding-bottom: 40px;
}
.my-photo {
  margin-top: 40px;
}
.contacts-container p {
  margin: 0;
}
.contacts-container a{
  text-decoration: none;
  color:#161d2a;
  transition:all 200ms ease-in-out;
  
}
.contacts-container a:hover{
  text-decoration: underline;
  color:#005fff;

}
.contact-type i{
  margin: 0 8px 8px 0;
  
   transition:all 200ms ease-in-out;
}
.contact-type i:hover{
  color:#005fff;
   transform: scale(1.2);
 

}
.smaller {
  font-size: 25px;
}
.bigger{
  font-size: 22px;
}
.contacts-container,
.tech-skills-container,
.soft-skills-container,
.languages {
  margin: 48px 0 0 40px;
}
.sidebar-title {
  font-style: normal;
  font-weight: 700px;
  font-size: 22px;
  line-height: 27px;
  color: #161d2a;
  margin-bottom: 8px;
}
.list {
  margin: 0;
  padding: 0 0 0 20px;
}
.list-item {
  color: #6d9bf5;
}
.list-text {
  color: #161d2a;
  font-style: normal;
  font-weight: 400px;
  font-size: 14px;
  line-height: 24px;
}
footer{
  margin:20px auto 0 0;
  text-align: center;
  opacity:0.5;
}
footer a{
  text-decoration: none;
  color:#005fff;
  transition:all 20ms ease-in-out;
}
footer a:hover{
  text-decoration: underline;
}